@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 213 100% 7%;
    --foreground: 213 100% 7%;

    --primary: 203 85% 24%;
    --primary-foreground: 0 0% 100%;

    --secondary: 1 40% 58%;
    --secondary-foreground: 0 0% 100%;

    --primary-dark: 213 100% 7%;
    --primary-light: 203 85% 24%;
  }

  .dark {
    --background: 213 100% 7%;
    --foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 213 100% 7%;
  }
}
body {
  min-height: 100vh;
  width: 100vw;
  background-color: hsl(var(--background));
  overflow: auto;
  direction: rtl;
  color: white;
}
